/.metadata/
/Servers/
/TripVibe/
FitGuardians/target/
FitGuardians/.settings
FitGuardians/.classpath
FitGuardians/.project
FitGuardians/bin/
FitGuardians/WebContent/
/RemoteSystemsTempFiles/
FitGuardians/src/main/resources/apiProperties.properties
FitGuardians/.classpath
FitGuardians/src/main/webapp/resources/qrCodes/
FitGuardians/src/main/webapp/resources/profilePic/