<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="trainermatchingMapper">
	<resultMap type="trainermatching" id="trainermatchingrResultset">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="gender" property="gender"/>
		<result column="age" property="age"/>

		<result column="tr_career" property="trCareer"/>
		<result column="tr_profile" property="trProfile"/>
		<result column="tr_descript" property="trDescript"/>
		<result column="tr_certi" property="trCerti"/>
	</resultMap>
	<resultMap type="member" id="memberResultset">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="pt" property="pt"/>
		<result column="pt_time" property="ptTime"/>

	</resultMap>
	

		<select id="trainercount" resultMap="trainermatchingrResultset">
		select a.user_no,user_id,user_name,gender,age , tr_career , tr_profile , tr_descript , tr_certi
			from member a
			JOIN trainerinfo b on (a.user_no = b.user_no)
			where status = 'Y'
			and user_level = 1
		</select>
		<select id="trainerselect" resultMap="trainermatchingrResultset">
		select a.user_no,user_id,user_name,gender,age , tr_career , tr_profile , tr_descript , tr_certi
			from member a
			JOIN trainerinfo b on (a.user_no = b.user_no)
			where status = 'Y'
			and user_level = 1
		</select>
		<update id="trainerupdate">
		UPDATE member
		SET pt = #{pt} , pt_time = pt_time + #{ptTime}
		WHERE user_id = #{userId}
		
		</update>
		<select id = "trainermatchingsearch" resultMap="memberResultset">
			select m1.pt_time, m2.user_name pt , m2.user_id
			from member m1
			join member m2 on m1.pt = m2.user_id
			where m1.user_id = #{userId}
		</select>

</mapper>

