<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="trainermatchingMapper">
	<resultMap type="trainermatching" id="trainermatchingrResultset">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="gender" property="gender"/>
		<result column="age" property="age"/>
		
		<result column="tr_info_no" property="trInfoNo"/>
		<result column="tr_career" property="trCareer"/>
		<result column="tr_profile" property="trProfile"/>
		<result column="tr_descript" property="trDescript"/>
		<result column="tr_certi" property="trCerti"/>
	</resultMap>
		<select id="trainercount" resultMap="trainermatchingrResultset">
		select a.user_no,user_id,user_name,gender,age ,tr_info_no , tr_career , tr_profile , tr_descript , tr_certi
			from member a
			JOIN trainerinfo b on (a.user_no = b.user_no)
			where status = 'Y'
			and user_level = 1
		</select>
		<select id="trainerselect" resultMap="trainermatchingrResultset">
		select a.user_no,user_id,user_name,gender,age ,tr_info_no , tr_career , tr_profile , tr_descript , tr_certi
			from member a
			JOIN trainerinfo b on (a.user_no = b.user_no)
			where status = 'Y'
			and user_level = 1
		</select>

</mapper>

