/* SweetAlert2 커스텀 스타일 */
.custom-select {
	box-sizing: border-box;
	width: 16.875em;
	transition: border-color .1s, box-shadow .1s;
	border: 1px solid #d9d9d9;
	border-radius: .1875em;
	background: rgba(255, 141, 141, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06), 0 0 0 3px rgba(0, 0, 0, 0);
	color: inherit;
	font-size: 0.84375em;
	height: 3.625em;
  		padding: 0 .75em;
	margin: 1em 2em 3px;
}

.custom-popup {
	width: 500px; /* 팝업의 너비 */
}