/* SweetAlert2 커스텀 스타일 */

.custom-popup {
    width: 50em;
    height: 42em;
}
div:where(.swal2-container) .swal2-input.custom-input {
	width: 12.625em;
	height: 1.975em;
    margin: 0;
}
div:where(.swal2-container) .swal2-html-container .SumoSelect.sumo_disease,
div:where(.swal2-container) .swal2-html-container .SumoSelect.sumo_goal{
	cursor: default;
}
.SumoSelect.sumo_disease.open>.optWrapper{
	top: 53px;
}
/* 하단 로고  */
.custom-popup .additionalInfoLogo {
    display: block;
    margin: 40px auto 0;
    /* margin: auto; */
    width: 540px;
    height: 250px;
}
.custom-popup .additionalInfoLogo img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 540px;
    height: 250px;
    transform: translate(50, 50);
    object-fit: cover;
    margin: auto;
}


.chatMessages::-webkit-scrollbar {
    width: 10px;
  }
  .chatMessages::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .chatMessages::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }